.lyric-msg {
  .ant-message-notice-content {
    position: absolute;
    background-color: rgba(40, 36, 36, 0.9);
    left: 50vw;
    bottom: -92vh;
    color: #ffffff;
    transform: translateX(-50%);
  }
}
