// hot精灵图
.spirit-hot {
  position: relative;
  &::after {
    content: "";
    width: 30px;
    height: 20px;
    background-image: url("~@/assets/img/spirit-topbar.png");
    background-position: -190px 0;
    display: block;
    position: absolute;
    right: -21px;
    top: 30%;
  }
}

// 选中红色箭头精灵图
.spirit-active-arrow::after {
  background-image: url("~@/assets/img/spirit-topbar.png");
  background-position: -226px 0;
  background-repeat: no-repeat;
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
