// 统一宽度
.wrap-v1 {
  width: 100%;
}
.wrap-v2 {
  width: 982px;
}

// hot精灵图
.spirit-hot {
  position: relative;
  &::after {
    content: "";
    width: 30px;
    height: 20px;
    background-image: url("~@/assets/img/spirit-topbar.png");
    background-position: -190px 0;
    display: block;
    position: absolute;
    right: -21px;
    top: 30%;
  }
}

// 选中红色箭头精灵图
.spirit-active-arrow::after {
  background-image: url("~@/assets/img/spirit-topbar.png");
  background-position: -226px 0;
  background-repeat: no-repeat;
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

// 阴影背景
@mixin spirit-shadow-bg {
  background-image: url("~@/assets/img/swper-operation.png");
}
.spirit-shadow-bg-left {
  @include spirit-shadow-bg;
}
.spirit-shadow-bg-right {
  @include spirit-shadow-bg;
  background-position-x: -17px;
}

// 轮播图左右翻页精灵图
@mixin spirit-swiper {
  background-image: url("~@/assets/img/swper-operation.png");
  cursor: pointer;
}
.spirit-swiper-left {
  @include spirit-swiper;
  background-position-y: -360px;
}
.spirit-swiper-left-dark:hover {
  @include spirit-swiper;
  background-position-y: 228px;
}
.spirit-swiper-right {
  @include spirit-swiper;
  background-position-y: -508px;
}
.spirit-swiper-right-dark:hover {
  @include spirit-swiper;
  background-position-y: 80px;
}

// 红空心⭕️精灵图
.spirit-cycle {
  background-image: url("~@/assets/img/sprite-opera2.png");
  width: 15px;
  height: 15px;
  background-position: -235px -163px;
  margin-bottom: 5px;
  margin-right: 10px;
}

// 红色箭头➡️精灵图
.spirit-arrow-r::after {
  content: "";
  background-image: url("~@/assets/img/sprite-opera2.png");
  width: 15px;
  height: 15px;
  background-position: 0 -240px;
  position: absolute;
  right: -20px;
}

// 白->灰渐变背景图
.bg-gary-v1 {
  background-image: url("~@/assets/img/sprite-opera2.png");
}
